/* Apply background color to the entire page */
body {
  margin: 0;
  padding: 0;
  background: rgb(30,50,41);
background: -moz-linear-gradient(145deg, rgba(30,50,41,1) 0%, rgba(26,90,59,1) 93%);
background: -webkit-linear-gradient(145deg, rgba(30,50,41,1) 0%, rgba(26,90,59,1) 93%);
background: linear-gradient(145deg, rgba(30,50,41,1) 0%, rgba(26,90,59,1) 93%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e3229",endColorstr="#1a5a3b",GradientType=1); /* Replace with your desired background color */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
  color: whitesmoke;
}

/* Lock footer at the bottom of the screen */
.container {
  flex: 1; /* Allow the content area to take up remaining space */
  margin-bottom: auto; /* Push content to the top of the container */
}

footer {
  background-color: #3734345c; /* Footer background color */
  color: #fff; /* Footer text color */
  padding: 7px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7%; /* Set the height to half the viewport height */
  box-sizing: border-box; /* Include padding in the width */
}

/* Base button styles */
.box-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #333; /* Text color */
  border: 2px solid #333; /* Border color */
  border-radius: 6px; /* Rounded corners */
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Hover state */
.box-button:hover {
  background: rgb(131,58,180);
  background: -moz-linear-gradient(49deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  background: -webkit-linear-gradient(49deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  background: linear-gradient(49deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
}

/* Active state (when clicked) */
.box-button:active {
  background-color: #555;
  border-color: #555;
}

/* Focus state (for accessibility) */
.box-button:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
}
