

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'maincss.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <script src="{% static 'mainjs.js' %}"></script>
    <title>Create Post - Hausaufgaben+</title>
</head>
{% if user.can_post == 1 %}
<body>
    <div class="container">
        <div class="header">
            <h1>Hausaufgabe posten</h1>
        </div>
        <div class="content">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.title.id_for_label }}">Titel:</label>
                    {{ form.title }}
                </div><br>
                <div class="form-group">
                    <label for="{{ form.klasse.id_for_label }}">Klasse:</label>
                    {{ form.klasse }}
                </div><br>
                <div class="form-group">
                    <label for="{{ form.content.id_for_label }}">Beschreibung:</label><br>
                    {{ form.content }}
                </div><br>
                <div class="form-group">
                    <label for="{{ form.image.id_for_label }}">Bild hochladen:</label>
                    {{ form.image }}
                </div><br>
                <div class="form-group">
                    <label for="{{ form.deadline.id_for_label }}">Abgabe-/ Vorzeigetermin:</label>
                    {{ form.deadline }}
                    <p>Format: Tag.Monat.Jahr (01.01.2023 nicht 1.1.23 oder ähnliches!)</p>
                </div>
                <center>
                    <button type="submit" class="box-button">Hausaufgabe posten!</button>
                </center>
            </form>
        </div>
    </div>
    {% else %}
    <p>Sie dürfen keine Hausaufgaben posten.</p>
    {% endif %}
    <li><a href="{% url 'home' %}" style="color: aliceblue;">Zurück zu Homepage</a></li>
</body>
</html>
