{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'maincss.css' %}">
    <script src="{% static 'mainjs.js' %}"></script>
    <title>Hausaufgaben+</title>
</head>
{% block content %}
  {% include 'header.html' %}
<body>
    <center>
    <h1>Hausaufgaben+</h1>
    <h3>Aber hallo, {{ user.username }}!</h3>
    <a href="{% url 'create' %}"><button>Hausaufgabe hinzufügen</button></a>
    </center>
    <ul>
        {% for post in posts %}
            {% if post.klasse == user.school_class %}
            <li>
                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" width="200">
                {% endif %}
                <p>Deadline: {{ post.deadline }}</p>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</body>

<footer>
    <center>
    <p>Erstellt von Kadir Aras Yanar<br><strong>Copyright </strong>Kadir Aras Yanar</p>
    </center>
</footer>
{% endblock %}
</html>